body {
  font-family: Arial, sans-serif;
  text-align: center;
  transition: all 0.5s;
}

#quote-container {
  margin-top: 50px;
}

#quote {
  font-size: 30px;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 20px;
}

#author {
  font-weight: bold;
}

.toggle-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dark {
  background-color: #282c34;
  color: #fff;
}

.dark #quote-container {
  border: 2px solid #fff;
  padding: 20px;
  border-radius: 10px;
}

.dark .toggle-container {
  color: #fff;
}

.light {
  background-color: #fff;
  color: #282c34;
}

.light #quote-container {
  border: 2px solid #282
